<template>
  <div class="container">
    <div>
      <h1 class="title">
        nuxt-auth-express-jwt
      </h1>
      <p>
        User status:
        {{ $auth.$state.loggedIn ? "Logged In" : "Guest" }}
      </p>
      <p>
        <nuxt-link to="/login">Login</nuxt-link>
        |
        <a @click="userLogout()">Logout</a>
      </p>
    </div>
  </div>
</template>

<script>
export default {
  auth: false,
  data() {
    return {};
  },
  methods: {
    async userLogout() {
      try {
        await this.$auth.logout("local");
        console.log("plop");
      } catch (e) {
        console.log("error", e);
      }
    }
  }
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
