<template>
  <div class="container">
    <div>
      <h1 class="title">
        nuxt-auth-express-jwt
      </h1>
      <form @submit="userLogin">
        <div class="field">
          <label class="label">Username</label>
          <div class="control">
            <input v-model="login.username" class="input" type="text" />
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control">
            <input v-model="login.password" class="input" type="text" />
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      login: {
        username: "test",
        password: "test"
      }
    };
  },
  methods: {
    async userLogin() {
      try {
        let response = await this.$auth.loginWith("local", {
          data: this.login
        });
        console.log(response);
      } catch (err) {
        console.log(err);
      }
    }
  }
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>
